* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   background-color: black;
   display: flex;
   /* height: 100vh; */
   justify-content: center;
   overflow: hidden;
}

#menuScreen {
   position: relative;
   width: 100%;
   max-width: 1000px;
}

.image-background {
   width: 100%;
   height: auto;
}

.button-new-game {
   position: absolute;
   top: 60%;
   left: 60%;
   /* transform: translate(100%, 100%); */
   background-color: white;
   color: black;
   font-size: 24px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
}

.button-new-game:hover {
   background-color: #e7e7e7;
}

#gameScreen {
   display: none;
   overflow: hidden;
}