#menuScreen {
   position: relative;
   width: 896px;
   height: 576px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#menuAnimation {
   position: absolute;
}

.image-background {
   flex-shrink: 0;
   min-width: 100%;
   min-height: 100%;
}

.logo {
   position: absolute;
   top: 13%;
   left: 35%;
}

.controls-image {
   display: none;
   position: absolute;
   top: 10%;
   left: 43%;
}

.credits-text {
   color: white;
   position: absolute;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 18px;
   text-align: center;
   top: 6%;
   left: 32%;
   width: 575px;
}

.copyright-text {
   color: white;
   position: absolute;
   top: 96%;
   left: 76%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 12px;
   text-align: right;
   width: 200px;
}


/*** BOTÕES DO MENU  ***/

.buttons {
   text-align: center;
   position: absolute;
   top: 49%;
   left: 46%;
}

.blob-btn {
   display: block;
   z-index: 2;
   position: relative;
   padding: 17px 30px 15px 30px;
   margin-bottom: 35px;
   text-align: center;
   text-transform: uppercase;
   color: #333;
   font-size: 26px;
   font-weight: bold;
   background-color: transparent;
   outline: none;
   border: none;
   transition: color 0.5s;
   cursor: pointer;
   border-radius: 30px;
   width: 200px;
}

.blob-btn:before {
   content: "";
   z-index: 1;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 2px solid #333;
   border-radius: 30px;
}

.blob-btn:after {
   content: "";
   z-index: -2;
   position: absolute;
   left: 3px;
   top: 3px;
   width: 100%;
   height: 100%;
   transition: all 0.3s 0.2s;
   border-radius: 30px;
}

.blob-btn:hover {
   color: #fff;
   border-radius: 30px;
}

.blob-btn:hover:after {
   transition: all 0.3s;
   left: 0;
   top: 0;
   border-radius: 30px;
}

.blob-btn__inner {
   z-index: -1;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-radius: 30px;
   background: #fff;
}

.blob-btn__blobs {
   position: relative;
   display: block;
   height: 100%;
   filter: url('#goo');
}

.blob-btn__blob {
   position: absolute;
   top: 2px;
   width: 25%;
   height: 100%;
   background: #333;
   border-radius: 100%;
   transform: translate3d(0, 150%, 0) scale(1.7);
   transition: transform 0.45s;
}

@supports (filter: url('#goo')) {
   .blob-btn__blob {
      transform: translate3d(0, 150%, 0) scale(1.4);
   }
}

.blob-btn__blob:nth-child(1) {
   left: 0%;
   transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
   left: 30%;
   transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
   left: 60%;
   transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
   left: 90%;
   transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
   transform: translateZ(0) scale(1.7);
}

@supports (filter: url('#goo')) {
   .blob-btn:hover .blob-btn__blob {
      transform: translateZ(0) scale(1.4);
   }
}