/*** GLOBAL DO JOGO ***/

#gameScreen-container {
   align-items: center;
   display: flex;
   justify-content: center;
   position: relative;
}

#gameScreen {
   display: none;
   overflow: hidden;
   z-index: 1;
}


/*** PARTÍCULAS ***/

#tsparticlesFireworks,
#tsparticlesLamp {
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   position: absolute;
   pointer-events: none;
   z-index: 4;
}

/* classe pertencente ao elemento criado, ao usar partículas */
#tsparticlesFireworks .tsparticles-canvas-el,
#tsparticlesLamp .tsparticles-canvas-el {
   position: absolute !important;
   pointer-events: none !important;
   width: 896 !important;
   height: 576 !important;
}


/*** UI ***/

#gameScreenUI {
   display: none;
   top: 0%;
   position: absolute;
   width: 608px;
   height: 50px;
   z-index: 2;
}

.gameScreenUI-container {
   display: flex;
   margin-left: -130px;
   position: relative;
}


/*** UI - RELÓGIO ***/

.clock-container {
   display: flex;
   padding-top: 20px;
}

.clock-col {
   margin-right: 10px;
   margin-left: 10px;
   min-width: 60px;
   position: relative;
   text-align: center;
}

.clock-col:not(:last-child):before,
.clock-col:not(:last-child):after {
   background-color: rgba(255, 255, 255, .3);
   border-radius: 50%;
   content: "";
   right: -12px;
   position: absolute;
   width: 5px;
   height: 5px;
}

.clock-col:not(:last-child):before {
   margin-top: 10px;
}

.clock-col:not(:last-child):after {
   margin-top: -33px;
}

.clock-minutes:before {
   content: var(--timer-minutes);
   font-weight: 100;
}

.clock-seconds:before {
   content: var(--timer-seconds);
   font-weight: 100;
}

.clock-timer:before {
   color: white;
   font-size: 32px;
   font-weight: 100;
   text-transform: uppercase;
}

.clock-label {
   color: rgba(255, 255, 255, .35);
   font-size: 10px;
   font-weight: 100;
   margin-top: 5px;
   text-transform: uppercase;
   user-select: none;
}


/*** UI - SEQUÊNCIA DE CORES ***/

#sequence {
   display: flex;
   padding-left: 30px;
   padding-top: 25px;
}

.sequence-circle {
   background-color: black;
   border: 4px solid black;
   border-radius: 50%;
   display: inline-block;
   margin-right: 10px;
   width: 30px;
   height: 30px;
}


/*** POPUPS ***/

#winPopup {
   display: none;
   top: 12%;
   margin-left: 5.5px;
   position: absolute;
   text-align: center;
   z-index: 3;
}

#winPopup .popup-background-image {
   box-shadow: 3px 3px 10px 7px rgba(0, 0, 0, 0.3);
   width: 75%;
}

#winPopup .popup-description-label {
   color: rgba(255, 255, 255, 0.764);
   font-size: 19px;
   font-weight: 100;
   display: block;
   left: 19.3%;
   top: 41.2%;
   position: absolute;
   width: 280px;
   user-select: none;
}

#winPopup .popup-back-to-menu-button {
   background-image: url("../assets/ui/home-button.png");
   background-size: cover;
   background-color: Transparent;
   border: 0;
   cursor: none;
   left: 25%;
   top: 68%;
   position: absolute;
   width: 85px;
   height: 80px;
}

#winPopup .popup-go-to-next-level-button {
   background-image: url("../assets/ui/play-2-button.png");
   background-size: cover;
   background-color: Transparent;
   border: 0;
   cursor: none;
   left: 56%;
   top: 68%;
   width: 85px;
   height: 80px;
   position: absolute;
}

#winLastLevelPopup {
   display: none;
   top: 12%;
   margin-left: 5.5px;
   position: absolute;
   text-align: center;
   z-index: 3;
}

#winLastLevelPopup .popup-background-image {
   box-shadow: 3px 3px 10px 7px rgba(0, 0, 0, 0.3);
   width: 75%;
}

#winLastLevelPopup .popup-description-label {
   color: rgba(255, 255, 255, 0.764);
   display: block;
   font-size: 19px;
   font-weight: 100;
   left: 22.6%;
   top: 41.2%;
   position: absolute;
   width: 250px;
   user-select: none;
}

#winLastLevelPopup .popup-back-to-menu-button {
   background-color: Transparent;
   background-image: url("../assets/ui/home-button.png");
   background-size: cover;
   border: 0;
   cursor: none;
   left: 40.7%;
   top: 68.3%;
   position: absolute;
   width: 85px;
   height: 80px;
}

#losePopup {
   display: none;
   top: 12%;
   margin-left: 5.5px;
   position: absolute;
   text-align: center;
   z-index: 2;
}

#losePopup .popup-background-image {
   box-shadow: 3px 3px 10px 7px rgba(0, 0, 0, 0.3);
   width: 75%;
}

#losePopup .popup-description-label {
   color: rgba(255, 255, 255, 0.764);
   display: block;
   font-size: 19px;
   font-weight: 100;
   left: 22.6%;
   top: 41.2%;
   position: absolute;
   width: 250px;
   user-select: none;
}

#losePopup .popup-back-to-menu-button {
   background-image: url("../assets/ui/home-button.png");
   background-size: cover;
   background-color: Transparent;
   border: 0;
   cursor: none;
   left: 25%;
   top: 68%;
   position: absolute;
   width: 85px;
   height: 80px;
}

#losePopup .popup-restart-level-button {
   background-image: url("../assets/ui/play-2-button.png");
   background-size: cover;
   background-color: Transparent;
   border: 0;
   cursor: none;
   left: 56%;
   top: 68%;
   position: absolute;
   width: 85px;
   height: 80px;
}