/*** GLOBAL ***/

@font-face {
  font-family: "Candy Pop!", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Candy Pop!"), url(../fonts/candy-pop.ttf) format("ttf");
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Candy Pop!", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#root {
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}