/*** GLOBAL DO MENU ***/

#menuScreen {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image-background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.controls-image-container {
  display: none;
  left: 51%;
  top: 62%;
  position: absolute;
}

.controls-image {
  width: 7.5vw;
  height: 20vh;
}

.controls-movement {
  color: rgba(255, 255, 255, 0.764);
  display: none;
  font-size: 2.8vh;
  left: 61%;
  top: 64.5%;
  position: absolute;
  width: 26vw;
  user-select: none;
}

.controls-action {
  color: rgba(255, 255, 255, 0.764);
  display: none;
  font-size: 2.8vh;
  left: 61%;
  top: 76%;
  position: absolute;
  width: 26vw;
  user-select: none;
}

.credits-text {
  color: rgba(255, 255, 255, 0.764);
  display: none;
  font-size: 2.4vh;
  left: 51%;
  top: 62%;
  position: absolute;
  text-align: left;
  width: 32vw;
  user-select: none;
}

.copyright-text {
  color: white;
  font-size: 12px;
  left: 76%;
  top: 96%;
  position: absolute;
  text-align: right;
  width: 200px;
  user-select: none;
}


/*** BOTÕES DO MENU  ***/

.button-container-1 {
  left: 15.6%;
  top: 60%;
  position: absolute;
}

.button-container-2 {
  left: 23.8%;
  top: 70%;
  position: absolute;
}

.button-container-3 {
  left: 32.7%;
  top: 70%;
  position: absolute;
}

#button-start-game {
  background-image: url("../assets/ui/play-1-button.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: 100% 100%;
  border: none;
  cursor: none;
  width: 7.5vw;
  height: 13.8vh;
}

#button-display-controls {
  background-image: url("../assets/ui/controls-button.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: 100% 100%;
  border: none;
  cursor: none;
  width: 7.5vw;
  height: 13.8vh;
}

#button-display-credits {
  background-image: url("../assets/ui/about-button.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: 100% 100%;
  border: none;
  cursor: none;
  width: 7.5vw;
  height: 13.8vh;
}